includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        -
            message: '#Unsafe usage of new static#'
            reportUnmatched: false
        -
            message: '#should return static\(.+\) but returns#'
            reportUnmatched: false
